<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>记账本</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        #app {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            background: skyblue;
        }
        .content {
            width: 95%;
            height: 85%;
            display: flex;
            flex-direction: column;
        }
        .main {
            flex: 1;
            overflow-y: auto;
        }
        [v-cloak] {
		    display:none;
        }
        #app /deep/ .el-input {
            width: 217px;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <div class="content">
            <div class="opt">
                <el-select v-model="value" placeholder="请选择月份" @change="handleSelectChange($event)">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-button @click="refresh()" v-cloak>重置</el-button>
                <el-button @click="add()" v-cloak>添加</el-button>
                <span v-cloak>全年收入：{{allIncome | mony}}</span>
                <span style="margin-left: 15px;" v-cloak>全年支出：{{allZhichu | mony}}</span>
                <span style="margin-left: 15px;" v-cloak>全年结余：{{jieyu | mony}}</span>
                <span v-if="value" style="margin-left: 5px;" v-cloak>
                    {{selectMonthLabel}}收入：{{monthIncome | mony}}
                </span>
                <span v-if="value" style="margin-left: 5px;" v-cloak>
                    {{selectMonthLabel}}支出：{{monthZhichu | mony}}
                </span>
            </div>
            <div class="main">
                <el-table :data="tableData" stripe style="width: 100%" @filter-change="handleFilterChange">
                    <el-table-column type="index" width="50">
                    </el-table-column>
                    <el-table-column prop="time" label="日期">
                        <template slot-scope="scope">{{ scope.row.time | dateFormat }}</template>
                    </el-table-column>
                    <el-table-column column-key="category" prop="category" label="类型" :filters="filters">
                    </el-table-column>
                    <el-table-column prop="type" label="收入/支出">
                        <template slot-scope="scope">{{ scope.row.type | type }}</template>
                    </el-table-column>
                    <el-table-column prop="amount" label="金额">
                        <template slot-scope="scope">{{ scope.row.amount | mony }}</template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="block">
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page.sync="currentPage2" :page-sizes="[10, 20, 50]" :page-size="pageSize"
                    layout="sizes, prev, pager, next" :total="this.total">
                </el-pagination>
            </div>  
        </div>
        <el-dialog title="记账" :visible.sync="dialogTableVisible" :close-on-click-modal="false">
            <el-form ref="ruleForm" :model="ruleForm" :rules="rules"  label-width="80px">
                <el-form-item label="日期时间"  prop="time">
                    <el-date-picker
                        v-model="ruleForm.time"
                        type="datetime"
                        placeholder="选择日期时间">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="收支"  prop="shouzhi">
                    <el-select v-model="ruleForm.shouzhi" placeholder="请选择收入类型" @change="handleSelectInAndOut($event)">
                        <el-option v-for="item in inAndOutOptions" :key="item.type" :label="item.label" :value="item.type">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="分类" prop="type">
                    <el-select v-model="ruleForm.type" placeholder="请选择账单类型">
                        <el-option v-for="item in fenleiOptions" :key="item.id" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                    <span>请先选择收支类型</span>
                </el-form-item>
                <el-form-item label="金额" prop="mony">
                    <el-input v-model.number="ruleForm.mony"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogTableVisible = false">取 消</el-button>
                <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script>    
    Vue.filter("dateFormat", function (value) {
        //使用moment时间类库，将时间撮转成iso 8061
        if (!value) return '';  
        value = parseInt(value);
        var m = moment(value);
        return m.format();
    });
    Vue.filter("type", function (value) {
        if (!value) return '';
        let type = '';
        if (value === '1') {
            type = '收入';
        } else {
            type = '支出';
        }
        return type;
    });
    Vue.filter("mony", function (value) {
        value = parseFloat(value).toFixed(2);
        return `￥${value}`;
    });
    let app = new Vue({
        el: '#app',
        data: {
            options: [{
                value: 'jan',
                label: '一月'
            }, {
                value: 'feb',
                label: '二月'
            }, {
                value: 'mar',
                label: '三月'
            }, {
                value: 'apr',
                label: '四月'
            }, {
                value: 'may',
                label: '五月'
            }, {
                value: 'jun',
                label: '六月'
            }, {
                value: 'jul',
                label: '七月'
            }, {
                value: 'aug',
                label: '八月'
            }, {
                value: 'sep',
                label: '九月'
            }, {
                value: 'oct',
                label: '十月'
            }, {
                value: 'nov',
                label: '十一月'
            }, {
                value: 'dec',
                label: '十二月'
            }],
            value: '',
            tableData: [],
            currentPage2: 1,
            total: 0,
            limit: 10,
            offset: 0,
            selectMonth: '',
            pageSize: 10,
            allIncome: 0,
            monthIncome: 0,
            allZhichu: 0,
            monthZhichu: 0,
            jieyu: 0,
            selectMonthLabel: '',
            dialogTableVisible: false,
            dateTime: '',
            filters: [],
            filter: '',
            optionsType: [
                {
                    "id": "1bcddudhmh",
                    "type": "0",
                    "name": "车贷"
                },
                {
                    "id": "hc5g66kviq",
                    "type": "0",
                    "name": "车辆保养"
                },
                {
                    "id": "8s0p77c323",
                    "type": "0",
                    "name": "房贷"
                },
                {
                    "id": "0fnhbcle6hg",
                    "type": "0",
                    "name": "房屋租赁"
                },
                {
                    "id": "odrjk823mj8",
                    "type": "0",
                    "name": "家庭用品"
                },
                {
                    "id": "bsn20th0k2o",
                    "type": "0",
                    "name": "交通"
                },
                {
                    "id": "j1h1nohhmmo",
                    "type": "0",
                    "name": "旅游"
                },
                {
                    "id": "3tqndrjqgrg",
                    "type": "0",
                    "name": "日常饮食"
                },
                {
                    "id": "s73ijpispio",
                    "type": "1",
                    "name": "工资"
                },
                {
                    "id": "1vjj47vpd28",
                    "type": "1",
                    "name": "股票投资"
                },
                {
                    "id": "5il79e11628",
                    "type": "1",
                    "name": "基金投资"
                }
            ],
            inAndOutOptions: [
                {
                    type: '1',
                    label: '收入'
                },
                {
                    type: '0',
                    label: '支出'
                }
            ],
            fenleiOptions: [],
            ruleForm: {
                time: '',
                shouzhi: '',
                type: '',
                mony: ''
            },
            rules: {
                time: [
                    { required: true, message: '请选择时间', trigger: 'blur' }
                ],
                shouzhi: [
                    { required: true, message: '请选择收支情况', trigger: 'blur' }
                ],
                type: [
                    { required: true, message: '请选择账单类型', trigger: 'blur' }
                ],
                mony: [
                    { required: true, message: '请输入金额', trigger: 'blur' },
                    { type: 'number', message: '请输入数值' }
                ]
            }
        },
        created () {
            let param = {
                limit: 10,
                offset: 0,
                month: '',
                type: this.filter
            }
            this.getTableData(param);
            this.optionsType.map(value => {
                this.filters.push({
                    text: value.name,
                    value: value.id
                })
            })
        },
        methods: {
            //分类筛选
            handleFilterChange(filters) {
                this.filter = filters.category.join(',');
                console.log(this.filter)
                let param = {
                    limit: 10,
                    offset: 0,
                    month:  this.selectMonth,
                    type: this.filter
                }
                this.getTableData(param);
                console.log(this.filter)
                
            },
            //添加账单
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.ruleForm.time = new Date(this.ruleForm.time).getTime();
                        let param = this.ruleForm
                        axios.post('http://127.0.0.1:3000/postData', param).then(res => {
                            if (res.data.code === 0) {
                                this.dialogTableVisible = false;
                                this.refresh();
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //选择收支类型
            handleSelectInAndOut(e) {
                console.log(e)
                this.fenleiOptions = [];
                this.optionsType.map(value => {
                    if (value.type === e) {
                        this.fenleiOptions.push(value)
                    }
                })
            },
            //添加数据
            add() {
                this.dialogTableVisible = true;
            },
            //重置数据
            refresh() {
                let param = {
                    limit: 10,
                    offset: 0,
                    month: '',
                    type: ''
                }
                this.selectMonth = '';
                this.value = '';
                this.pageSize = 10;
                this.getTableData(param);
            },
            //下拉选择
            handleSelectChange(e) {
                this.selectMonth = e;
                let param = {
                    limit: 10,
                    offset: 0,
                    month: e,
                    type: this.filter
                }
                this.pageSize = 10;
                this.getTableData(param);
                this.options.map(value => {
                    if (value.value === e) {
                        this.selectMonthLabel = value.label;
                    }
                })
            },
            //改变分页的数据尺寸
            handleSizeChange(val) {
                this.limit = val;
                this.pageSize = val;
                let param = {
                    limit: val,
                    offset: this.offset === 0 ? 0 : this.offset - 1,
                    month: this.selectMonth,
                    type: this.filter
                }
                this.getTableData(param);
            },
            //改变页数
            handleCurrentChange(val) {
                this.offset = val;
                let param = {
                    limit: this.pageSize,
                    offset: val === 0 ? 0 : val - 1,
                    month: this.selectMonth,
                    type: this.filter
                }
                this.getTableData(param);

            },
            //获取数据
            getTableData(param) {
                let url = this.axiosGet('http://127.0.0.1:3000/categories', param);
                console.log(url)
                axios.get(url).then(res => {
                    this.tableData = res.data.data;
                    this.total = res.data.total;
                    this.allIncome = res.data.allIncome;
                    this.allZhichu = res.data.allExpenditure;
                    this.monthIncome = res.data.income;
                    this.monthZhichu = res.data.expenditure;  
                    this.jieyu = parseInt(res.data.allIncome) - parseInt(res.data.allExpenditure);
                    console.log(this.monthIncome)  
                })
            },
            //封装axios的get方法传值
            axiosGet(url, params) {
                let paramsStr = "";
                Object.keys(params).forEach(key => {
                    paramsStr += key + "=" + params[key] + "&";
                });
                //过滤最后的&
                if (paramsStr !== "") {
                    paramsStr = paramsStr.substr(0, paramsStr.lastIndexOf("&"));
                    //完整的路径
                    url += "?" + paramsStr;
                } else {
                    url += paramsStr;
                }
                return url;
            }
        },
    })
</script>
</html>